<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="layout_fragments :: head('MyMakler - New viewing offer')"></head>

<body>
<nav th:replace="layout_fragments :: nav('new_offer')"></nav>

<main role="main" class="container">
    <h3 class="mb-4">New viewing offer</h3>

    <!-- TODO: implement form for new viewing offers -->

</main>

<footer th:replace="layout_fragments :: footer"></footer>
</body>
</html>
