body {
  padding-top: 8rem;
}

.navbar-button {
  border: none;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  display: block;
  border-radius: 0.25rem;
  padding: 0.45rem 0.5rem;
  cursor: pointer;
}

.navbar-button:hover {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-button:click {
  color: #e9ecef;
}
