<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="layout_fragments :: head('MyMakler - Viewing Request')"></head>

<body>
<nav th:replace="layout_fragments :: nav('overview')"></nav>

<main role="main" class="container">
    <h3 class="mb-4">Viewing Request</h3>

    <!-- TODO: implement success notification for accept/decline -->

    <!-- TODO: implement table with viewing requests including buttons for accepting/declining; also handle empty list -->

</main>

<footer th:replace="layout_fragments :: footer"></footer>
</body>
</html>
