<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="layout_fragments :: head('MyMakler - Viewing Offers Overview')"></head>

<body>
<nav th:replace="layout_fragments :: nav('appointments')"></nav>

<main role="main" class="container">
    <h3 class="mb-4">Appointments</h3>

    <!-- TODO: implement table of appointments; also handle empty list -->

</main>

<footer th:replace="layout_fragments :: footer"></footer>
</body>
</html>
